*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.container{
    .row{  
        .c6{
            padding: 0;
            .c1{
                background: rgba(5, 31, 71, 0.863);
                color: white;
                display: flex;
                padding: 0;
                .col-md-6{
                    h1,p,h3{
                        margin: 8px;
                        padding: 10px;
                    }
                }
                .c5{
                    h1{
                        border-left: 1px solid white;
                        padding: 30px;
                    }
                }
            }
            .c3{
                height: 100px;
                background: red;
                color: white;
                padding: 0;
                p,h1{
                    margin: 4px;
                }
            }
        }
        .c2{
            background-color: white;
            h2{
                color: red;
                margin: 20px;
            }
            form{
                input{
                    color: grey;
                    height: 50px;
                    border-radius: 4px;
                    border: 1px solid grey;
                    margin: 10px;
                }
                button{
                    color: white;
                    background: rgb(34, 130, 143);
                    border: none;
                    border-radius: 4px;
                    height: 50px;
                    margin: 4px;
                }
            }
        }
    }
}